@model OdeToFood.Models.AboutModel

@{
    ViewBag.Title = "Personal Info";
}

<hgroup class="title">
    <h2><em>@ViewBag.Title</em></h2>
    <h3>@Model.Name</h3>
</hgroup>

<div>Location: @Model.Location</div>